* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.blog-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 42px;
  color: white;
  margin-top: 50px;
}

h2 {
  margin-top: 10px;
  font-size: 28px;
  color: white;
}

p {
  font-size: 18px;
  margin-top: 50px;
  color: white;
  max-width: 750px;
}

ol {
  max-width: 500px;
  margin-top: 15px;
}

ul {
  margin-top: 40px;
}

li {
  color: white;
  margin-top: 10px;
  max-width: 750px;
}

img {
  border-radius: 10px;
  margin-top: 50px;
  max-width: 750px;
}

video {
  margin-top: 25px;
  max-width: 750px;
}

span {
  background-color: green;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.twitter {
  color: white;
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 25px;
  cursor: pointer;
}

.linkedin {
  color: white;
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 25px;
  cursor: pointer;
}

.twitter:hover,
.linkedin:hover {
  color: grey;
}
